<footer class="page-footer grey">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <h5 class="white-text">Roboterwelt.de</h5>
                <p class="grey-text text-lighten-4 thin-text">Alles über Roboter: Entwicklungen auf dem Markt, innovative Unternehmen, Events und vieles mehr.</p>
                <div class="social-icons-footer">
                    <a href="http://www.facebook.com/roboterwelt"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/roboterwelt"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/user/roboterwelt"><i class="fa fa-youtube"></i></a>
                    <!--<a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>-->
                </div>
            </div>
            <div class="col l3 m3 s12">
                <h5 class="white-text">Service</h5>
                <ul class="thin-text">
                    <li><a class="grey-text text-lighten-3" href="http://www.roboterwelt.de/magazin/news/">News</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.roboterwelt.de/magazin/category/wissen/">Wissen</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Presse</a></li>
                </ul>
            </div>
            <div class="col l3 m3 s12">
                <h5 class="white-text">Rechtliches</h5>
                <ul class="thin-text">
                    <li><a class="grey-text text-lighten-3" href="http://www.roboterwelt.de/magazin/impressum/">Impressum</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.roboterwelt.de/magazin/datenschutz/">Datenschutz</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.roboterwelt.de/magazin/team/">Team</a></li>
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Kontakt</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2016
        </div>
    </div>
</footer>